<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/bootstrap-5.3.3-dist/css/bootstrap.min.css">
    <script src="https://kit.fontawesome.com/c55ac3095c.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/admin/nav-panel.css">
    <link rel="stylesheet" href="/css/admin/panel-admin-ticket.css">
    <link rel="shortcut icon" href="/res/logo-5.png" type="image/x-icon">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <title>Informaci칩n del Ticket</title>
</head>
<body>
    <div class="container-fluid">
        <%- include("nav-panel.ejs") %>

        <div class="content">
            <div class="empresa-info">
                <div class="card">
                    <div class="card-header">
                        <i class="fa fa-building-o" aria-hidden="true"></i>
                        <h3><%= ticket[0].nombre %></h3>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">Datos de contacto</h4>
                        <p class="card-text">
                            <i class="fa fa-phone" aria-hidden="true"></i> Tel칠fono: <%= ticket[0].telefono %> <br>
                            
                            <i class="fas fa-mail-bulk    "></i> Correo empresarial: 
                                <a name="" id="" class="btn btn-link" href="mailto:<%= ticket[0].correo_empresarial %>" role="button">
                                    <span class="badge bg-primary"><%= ticket[0].correo_empresarial %></span>
                                </a>
                            <br>
                            <i class="fas fa-mail-bulk    "></i> Correo del representante: 
                                <a name="" id="" class="btn btn-link" href="mailto:<%= ticket[0].correo %>" role="button">
                                    <span class="badge bg-primary"><%= ticket[0].correo %></span>
                                </a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="ticket-info">
                <div class="card">
                    <div class="card-header">
                        <h3>
                            <%= ticket[0].contenido %>
                            <% if(ticket[0].prioridad=="Por evaluar" ) { %>
                                <span class="badge bg-secondary">
                                    <i class="fa fa-question-circle-o" aria-hidden="true"></i>
                                    <%= ticket[0].prioridad %>
                                </span>
                            <% } else if(ticket[0].prioridad=="Baja" ) { %>
                                <span class="badge bg-info">
                                    <i class="fa fa-arrow-down" aria-hidden="true"></i>
                                    <%= ticket[0].prioridad %>
                                </span>
                            <% } else if(ticket[0].prioridad=="Normal" ) { %>
                                <span class="badge bg-success">
                                    <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
                                        <%= ticket[0].prioridad %>
                                    </span>
                            <% } else if(ticket[0].prioridad=="Alta" ) { %>
                                <span class="badge bg-warning">
                                    <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                                        <%= ticket[0].prioridad %>
                                </span>
                            <% } else { %>
                                <span class="badge bg-danger">
                                    <i class="fa fa-fire" aria-hidden="true"></i>
                                        <%= ticket[0].prioridad %>
                                </span>
                            <% } %>
                            <% if(ticket[0].estado=="Abierto" ) { %>
                                <span class="badge bg-danger rounded-pill">
                                    <i class="fa fa-clock-o" aria-hidden="true"></i>
                                        <%= ticket[0].estado %>
                                </span>
                            <% } else if(ticket[0].estado=="En proceso" ) { %>
                                <span class="badge bg-warning rounded-pill">
                                    <i class="fa fa-cog" aria-hidden="true"></i>
                                        <%= ticket[0].estado %>
                                </span>
                            <% } else { %>
                                <span class="badge bg-success rounded-pill">
                                    <i class="fa-regular fa-flag"></i>
                                        <%= ticket[0].estado %>
                                </span>
                        <% } %>
                        </h3>
                    </div>
                    <div class="card-body">
                        <h3 class="card-title">Descripci칩n</h3>
                        <p class="card-text"><i class="fa-solid fa-code-branch"></i> Version del software: <%= ticket[0].version %></p>
                        <p class="card-text"><%= ticket[0].descripcion %></p>
                    </div>
                    <div class="card-footer text-muted">
                        <div class="support">
                            <h3>Consultor</h3>
                            
                            <% if(ticket[0].id_ingeniero_fk === null) { %>
                                <p>
                                    <i class="fas fa-headset    "></i> Consultor: <span class="badge rounded-pill bg-secondary"><i class="fa-solid fa-person-circle-question"></i> No asignado</span>
                                </p>

                                <form action="/dashboard-admin/ticket-info/asign-inge" method="post">
                                    <div class="form-group">
                                        <input type="text" name="id_ticket" id="" value="<%= ticket[0].id_ticket_pk %>" readonly hidden>
                                      <label for=""><i class="fa fa-user-plus" aria-hidden="true"></i> Asignar consultor:</label>
                                      <select name="ingeniero" id="" class="form-control">
                                        <% for(let i = 0; i < ingenieros.length; i++) { %>
                                            <option value="<%= ingenieros[i].id_ingeniero_pk %>"><%= ingenieros[i].nombre %></option>
                                        <% } %>
                                      </select>
                                      <button type="submit" name="" id="" class="btn btn-primary">
                                        <i class="fa fa-user-plus" aria-hidden="true"></i> Asignar Consultor
                                      </button>
                                    </div>
                                </form>
                            <% } else { %>
                                <p>
                                    <i class="fas fa-headset    "></i> Consultor: <%= ingeniero[0].nombre %>
                                    <% if(ingeniero[0].categoria == "B치sico") { %>
                                        <span class="badge rounded-pill bg-success">
                                            <i class="fa-solid fa-chart-simple"></i> <%= ingeniero[0].categoria %>
                                        </span>
                                    <% } else if(ingeniero[0].categoria == "Intermedio") { %>
                                        <span class="badge rounded-pill bg-warning">
                                            <i class="fa-solid fa-chart-simple"></i> <%= ingeniero[0].categoria %>
                                        </span>
                                    <% } else { %>
                                        <span class="badge rounded-pill bg-danger">
                                            <i class="fa-solid fa-chart-simple"></i> <%= ingeniero[0].categoria %>
                                        </span>
                                    <% } %>

                                    <a name="" id="" class="btn btn-link" href="/dashboard-admin/ticket-infor/delete-inge/<%= ticket[0].id_ticket_pk %>" role="button">
                                        <i class="fa fa-trash-o" aria-hidden="true"></i>
                                    </a>
                                </p>
                            <% } %>
                        </div>

                        <hr>

                        <div class="prioridad">
                            <h3>Estado del problema</h3>
                            <% if(ticket[0].prioridad === "Por evaluar") { %>
                                <p><i class="fas fa-chart-line    "></i> Estado: <span class="badge bg-secondary">
                                    <i class="fa fa-question-circle-o" aria-hidden="true"></i>
                                    <%= ticket[0].prioridad %>
                                </span></p>

                                <form action="/dashboard-admin/ticket-info/asign-priority" method="post">
                                    <div class="form-group">
                                        <input type="text" name="id_ticket" id="" value="<%= ticket[0].id_ticket_pk %>" readonly hidden>
                                      <label for=""><i class="fas fa-chart-line    "></i> Asignar estado</label>
                                      <select name="prioridad" id="" class="form-control">
                                        <option value="Baja">Baja</option>
                                        <option value="Normal">Normal</option>
                                        <option value="Alta">Alta</option>
                                        <option value="Urgente">Urgente</option>
                                      </select>
                                      <button type="submit" name="" id="" class="btn btn-primary">
                                        <i class="fas fa-chart-line    "></i> Asignar Estado
                                    </button>
                                    </div>
                                </form>
                            <% } else { %>
                                <p>
                                    <i class="fas fa-chart-line    "></i> Estado:
                                    <% if(ticket[0].prioridad=="Baja" ) { %>
                                        <span class="badge bg-info">
                                        <i class="fa fa-arrow-down" aria-hidden="true"></i>
                                        <%= ticket[0].prioridad %>
                                        </span>
                                    <% } else if(ticket[0].prioridad=="Normal" ) { %>
                                        <span class="badge bg-success">
                                            <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
                                                <%= ticket[0].prioridad %>
                                            </span>
                                    <% } else if(ticket[0].prioridad=="Alta" ) { %>
                                        <span class="badge bg-warning">
                                            <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                                                <%= ticket[0].prioridad %>
                                        </span>
                                    <% } else { %>
                                        <span class="badge bg-danger">
                                            <i class="fa fa-fire" aria-hidden="true"></i>
                                                <%= ticket[0].prioridad %>
                                        </span>
                                    <% } %>

                                    <a name="" id="" class="btn btn-link" href="/dashboard-admin/ticket-infor/delete-priority/<%= ticket[0].id_ticket_pk %>" role="button">
                                        <i class="fa fa-trash-o" aria-hidden="true"></i>
                                    </a>
                                </p>
                            <% } %>
                        </div>

                        <hr>

                        <div class="commets">
                            <h3>Comentarios</h3>
                            <% if(comentarios.length === 0) { %>
                                <p>No hay comentarios para mostrar. 游땬游땬</p>
                            <% } else { %>
                                <% for(let i = 0; i < comentarios.length; i++){ %>
                                    <div class="comentario">
                                        <p class="usuario">
                                            <% if(comentarios[i].tipo_usuario == "Empresa") { %>
                                                <i class="fa fa-building-o" aria-hidden="true"></i> Empresa
                                            <% } else { %>
                                                <i class="fas fa-headset    "></i> Soporte
                                            <% } %>
                                        </p>
                                        <p class="comentario-contenido"><%= comentarios[i].contenido %></p>
                                    </div>
                                    <hr>
                                <% } %>
                            <% } %>
                        </div>

                        <hr>

                        <div class="imagenes">
                            <h3>Im치genes</h3>
                            <% if(imagenes.length === 0) { %>
                                <p>No hay im치genes para mostrar. 游땬游땬</p>
                            <% } else { %>
                                <div class="img">
                                    <% for(let i = 0; i < imagenes.length; i++) { %>
                                        <img src="<%= imagenes[i].ruta %>" alt="">
                                    <% } %>
                                </div>
                            <% } %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>