<%- include("base-panel.ejs") %>

<link rel="stylesheet" href="/css/company/tickets-status.css">
<title><%= name %></title>

<div class="container">
    <div class="content-top">
        <div class="buttons">
            <h4>
                <i class="fa fa-cogs" aria-hidden="true"></i> En Proceso
            </h4>
            <a name="" id="" class="btn btn-link" href="/ticket-generate" role="button">
                <i class="fa-solid fa-ticket"></i> Nuevo Ticket
            </a>
            <a name="" id="" class="btn btn-link" href="/tickets-info/ended" role="button">
                <i class="fa fa-check-circle" aria-hidden="true"></i> Liberado
            </a>
            <a name="" id="" class="btn btn-link" href="/tickets-info/process" role="button">
                <i class="fa fa-cogs" aria-hidden="true"></i> En Proceso
            </a>
        </div>
    </div>

    <div class="content-middle">
        <div class="table-out">
            <% if(tickets.length === 0 || tickets === undefined) { %>
                <p>No hay tickets en proceso para mostrar. 😥😥</p>
            <% } else { %>
                <table class="table table-striped table-hover table-borderless">
                    <tr>
                        <th>#</th>
                        <th>Referencia</th>
                        <th>Fecha</th>
                        <th>Version</th>
                        <th>Estado</th>
                        <th>Estatus</th>
                        <th>Función</th>
                    </tr>
                    <% for(let i = 0; i < tickets.length; i++) { %>
                        <tr>
                            <td><%= tickets[i].id_ticket_pk %></td>
                            <td><%= tickets[i].contenido %></td>
                            <td><%= tickets[i].fecha %></td>
                            <td><%= tickets[i].version %></td>
                            <td>
                                <% if(tickets[i].prioridad == "Por evaluar") { %>
                                    <span class="badge bg-secondary">
                                        <i class="fa fa-question-circle" aria-hidden="true"></i> <%= tickets[i].prioridad %>
                                    </span>
                                <% } else if(tickets[i].prioridad == "Baja") { %>
                                    <span class="badge bg-info">
                                        <i class="fa fa-arrow-down" aria-hidden="true"></i> <%= tickets[i].prioridad %>
                                    </span>
                                <% } else if(tickets[i].prioridad == "Normal") { %>
                                    <span class="badge bg-success">
                                        <i class="fa fa-exclamation-circle" aria-hidden="true"></i> <%= tickets[i].prioridad %>
                                    </span>
                                <% } else if(tickets[i].prioridad == "Alta") { %>
                                    <span class="badge bg-warning">
                                        <i class="fa fa-exclamation-triangle" aria-hidden="true"></i> <%= tickets[i].prioridad %>
                                    </span>
                                <% } else { %>
                                    <span class="badge bg-danger">
                                        <i class="fa fa-fire" aria-hidden="true"></i> <%= tickets[i].prioridad %>
                                    </span>
                                <% } %>
                            </td>
                            <td>
                                <span class="badge bg-success rounded-pill">
                                    <i class="fa-regular fa-flag"></i> <%= tickets[i].estado %>
                                </span>
                            </td>
                            <td>
                                <div class="buttons">
                                    <a name="" id="" class="btn btn-link" href="/ticket-info/<%= tickets[i].id_ticket_pk %>" role="button">
                                        <i class="fa fa-eye" aria-hidden="true"></i>
                                    </a>
                                    <a name="" id="" class="btn btn-link" href="/ticket-info/edit/<%= tickets[i].id_ticket_pk %>" role="button">
                                        <i class="fa fa-pencil" aria-hidden="true"></i>
                                    </a>
                                </div>
                            </td>
                        </tr>
                    <% } %>
                </table>
            <% } %>
        </div>
    </div>
</div>
